* {
    box-sizing: border-box;
}

img {
    user-select: none;
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
}

.chat-open {
    width: 50px;
    height: 50px;
    background-color: #283593;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    z-index: 10;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);

    margin: 5px;
    margin-top: 348px;
    margin-left: 228px;
}

.chat-open:hover {
    background-color: #4752A2;
}

.chat-open_icon {
    width: 25px;
    height: 25px;
}

/* General box */
.chat {
    width: 280px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 15px 15px 5px 5px;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    z-index: 9;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    opacity: 0;
    margin-top: 5px;
    margin-left: 5px;

    transform: scale(0.9);
    transition: .3s ease-in-out;
}

/* Chat header */
.chat-header {
    color: #fff;
    width: 100%;
    background-color: #4752A2;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.chat-header_label {
    display: flex;
    align-items: center;
}

.chat-header__icon {
    width: 15px;
    height: 15px;

    margin-left: 10px;
    margin-right: 5px;
}

.chat-header__close {
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-right: 10px;
    pointer-events: unset;
}

/* Chat body */
.chat-body {
    overflow-y: scroll;
}

.chat-body_messages {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-body_message-time {
    color: #888;
    font-size: 9px;
}


.chat-body_message-in {
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
}

.chat-body_message-in > .chat-body_message-text {
    background-color: #4752A2;
    border-radius: 15px 15px 15px 0px;
    margin-right: 5px;
    padding: 7px;
    color: #fff;
}

.chat-body_message-in > .chat-body_message-time {
    align-self: flex-start;
}

.chat-body_message-out {
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 5px;
    margin-bottom: 5px;
}

.chat-body_message-out > .chat-body_message-text {
    background-color: #7983D1;
    border-radius: 15px 15px 0px 15px;
    margin-left: 5px;
    padding: 7px;
    color: #fff;
}

.chat-body_message-out > .chat-body_message-time {
    align-self: flex-end;
}

/* Chat-input */
.chat-input {
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 1fr;
    border-top: 1px solid #bbb;
}

.chat-input_text {
    margin-right: 5px;
    padding: 10px;
    padding-left: 10px;
    border: 0px;
    outline: none;
    background-color: rgba(0,0,0,0);
}

.chat-input_send {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
